
# ================= ROS2 BUILD =================
build/
install/
log/
.colcon/

# ================= IDE =================
.vscode/

# ================= SYSTEM =================
*~
.DS_Store

# ================= PYTHON CACHE =================
__pycache__/
*.pyc

# ================= IGNORE UNNEEDED PACKAGES =================
src/robot_controller/
src/robot_description/

# ================= IGNORE ONLY UNUSED SOURCES =================

# CPP extras (keep service files)
src/robot_cpp/src/simple_parameter.cpp
src/robot_cpp/src/simple_tf_kinematics.cpp
src/robot_cpp/src/simple_turtlesim_kinematics.cpp

# PY extras (keep service files)
src/robot_py/robot_py/simple_parameters.py
src/robot_py/robot_py/simple_tf_kinematics.py
src/robot_py/robot_py/simple_turtlesim_kinematics.py
src/robot_py/test/
src/robot_py/resource/

