*
!.gitignore
!src/
!videos/

# ignore unwanted packages
src/robot_description/
src/robot_controller/

# cpp
src/robot_cpp/
!src/robot_cpp/src/
!src/robot_cpp/src/simple_service_client.cpp
!src/robot_cpp/src/simple_service_server.cpp

# python
src/robot_py/
!src/robot_py/robot_py/
!src/robot_py/robot_py/simple_service_client.py
!src/robot_py/robot_py/simple_service_server.py

# msgs
src/robot_msgs/
!src/robot_msgs/srv/
!src/robot_msgs/srv/AddTwoInts.srv

# videos
videos/*
!videos/Service Client.webm

# ros junk
build/
install/
log/
.vscode/
